p{
   color: green;
   font-size: 30px;

}

body{
    background:  url(http://s1.picswalls.com/wallpapers/2015/09/27/anonymous-background_123830656_275.jpeg)
}

h1.Welcome{
    color: green;
    
}

li{

    color: green;
}